<ion-content [fullscreen]="true">
  <main>
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
    <div class="container-titulo">
      <button (click)="voltarPaginaAnterior()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </button>
      <h1>Lista de tratamentos</h1>
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="dark"></ion-icon>
    </div>
    
    <nav class="navegacao-pagina">
      <a>C |</a>
      <a>D |</a>
      <a>H |</a>
      <a>L |</a>
      <a>P |</a>
      <a>U</a>
    </nav>

    <section class="sessao-tratamentos">
      <div>
        <h2><a>C</a></h2>
        <ul>
          <li>
            <button></button>
          </li>
        </ul>
      </div>
      <!--
      <div>D</div>
      <div>H</div>
      <div>L</div>
      <div>P</div>
      <div>U</div>
      -->
    </section>
  </main>
</ion-content>
