<ion-content>
  <section class="principal-login">
    <ion-img src="assets/logo-bellavisage.png" alt="logo-bellavisage"></ion-img>
    <ion-toolbar>
      <ion-title size="large">Faça o login em sua conta</ion-title>
    </ion-toolbar>


    <form class="principal-formulario">
      <div class="campos">
        <ion-list>
          <ion-item>
            <ion-input label="Email:" type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Senha:" type="password"></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </form>
  </section>

    <div class="redirecionamentos">
      <a href="#">Esqueceu a senha?</a>
      <ion-button href="#">Entrar</ion-button>
      <ion-text>Não tem uma conta? <a href="#">Criar conta</a></ion-text>
    </div>
</ion-content>
