<ion-content>
  <main class="principal">
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>

    <div class="container-titulo">
      <button (click)="voltarPaginaAnterior()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </button>

      <h1>{{ tratamentoDaDo.nome }}</h1>
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="dark"></ion-icon>
    </div>


    <img [src]="getImageUrl(tratamentoDaDo.imagem, tratamentoDaDo.tipoImagem)" [alt]="tratamentoDaDo.nome" height="214px" width="320px">


    <h2>Sobre:</h2>
    <p>
      <ion-text>{{ tratamentoDaDo.descricao }}</ion-text>
    </p>

    <section>
      <div class="container-agendamento">
        <h2>Data do agendamento:</h2>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </div>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" presentation="date" (ionChange)="onDateChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-card *ngFor="let especialista of especialistasUnicos" >
        <ion-card-header>
          <ion-card-title>{{ especialista.nome }}</ion-card-title>
          <span>{{ especialista.especialidade }}</span>
        </ion-card-header>

        <ion-card-content>
          <div *ngFor="let horario of horarios" class="container-horario">
            <ion-button (click)="presentAlertHorario(horario)" fill="outline" *ngIf="especialista.nome === horario.especialista.nome">
              {{ horario.data | date: 'HH:mm' }}</ion-button>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-alert
        [isOpen]="isAlertOpen"
        class="custom-alert"
        header="Confirma o agendamento?"
        [buttons]="alertButtons"
        (didDismiss)="setResult($event)">
      </ion-alert>

    </section>

  </main>
</ion-content>
