<ion-content>
  <main class="principal">
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
    <div class="container-titulo">
      <button (click)="voltarPaginaAnterior()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </button>
      <h1>Pilling de Diamante</h1>
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="dark"></ion-icon>
    </div>

    <h2>Descriçao:</h2>
    <p>
      <ion-text>O peeling de diamante é um procedimento estético que realiza uma esfoliação profunda da pele, removendo células mortas e impurezas.
        É feito com uma caneta que possui uma ponteira com lixa diamantada e um sistema de vácuo que aspira a pele</ion-text>
    </p>

    <section>
      <div class="container-agendamento">
        <h2>Data do agendamento:</h2>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </div>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" presentation="date"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Dr Alessandro</ion-card-title>
          <span>Dermatologista</span>
        </ion-card-header>

        <ion-card-content>
          <ion-button (click)="presentAlert()" fill="outline">15:24</ion-button>
          <ion-button (click)="presentAlert()" fill="outline">12:00</ion-button>
          <ion-button (click)="presentAlert()" fill="outline">17:00</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Dra Andreia</ion-card-title>
          <span>Dermatologista</span>
        </ion-card-header>

        <ion-card-content>
          <ion-button (click)="presentAlert()" fill="outline">10:24</ion-button>
          <ion-button (click)="presentAlert()" fill="outline">12:30</ion-button>
          <ion-button (click)="presentAlert()" fill="outline">13:15</ion-button>
          <ion-button (click)="presentAlert()" fill="outline">16:00</ion-button>
          <ion-button (click)="presentAlert()" fill="outline">16:30</ion-button>
          <ion-button (click)="presentAlert()" fill="outline">18:00</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Dr Romulo</ion-card-title>
          <span>Dermatologista</span>
        </ion-card-header>

        <ion-card-content>
          <ion-button (click)="presentAlert()" fill="outline">13:00</ion-button>
        </ion-card-content>
      </ion-card>
      <ion-alert
        class="custom-alert"
        header="Confirma o agendamento?"
        [buttons]="alertButtons"
        (didDismiss)="setResult($event)">
      </ion-alert>
    </section>
  </main>
</ion-content>
