<ion-content>
  <main class="principal">
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
    <div class="container-titulo">
      <button (click)="voltarPaginaAnterior()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </button>
      <h1>{{ tratamentoDaDo.nome }}</h1>
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="dark"></ion-icon>
    </div>

    <img [src]="tratamentoDaDo.imagemMaior" [alt]="tratamentoDaDo.nome">

    <h2>Sobre:</h2>
    <p>
      <ion-text>{{ tratamentoDaDo.descricao }}</ion-text>
    </p>

    <section>
      <div class="container-agendamento">
        <h2>Data do agendamento:</h2>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </div>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" presentation="date" [(ngModel)]="dataSelecionada" (ionChange)="onDateChange($event)"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Dr Alessandro</ion-card-title>
          <span>Dermatologista</span>
        </ion-card-header>

        <ion-card-content>
          <ion-button (click)="presentAlert()" fill="outline">15:24</ion-button>
          <ion-button (click)="presentAlert()" fill="outline">12:00</ion-button>
          <ion-button (click)="presentAlert()" fill="outline">17:00</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-alert
        class="custom-alert"
        header="Confirma o agendamento?"
        [buttons]="alertButtons"
        (didDismiss)="setResult($event)">
      </ion-alert>
    </section>
  </main>
</ion-content>
