.principal{
  padding: 0 1em;
}

.container-logo{
  width: 40%;
  margin: 1em 0;
}

.container-titulo{
 display: flex;
 text-align: center;
 align-items: center;
 justify-content: space-between;
}

img{
  border-radius: 8px;
  margin-top: 2em;
}

h1{
  text-align: center;
  font-size: 18px;
}

h2{
  font-size: 16px;
}

ion-text{
  color:  #6B6E71;
  font-family: 'Public Sans';
}

ion-icon{
  font-size: 22px;
}

.container-agendamento{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-horario{
  display: inline;
}

ion-card {
  margin: 1em 0;
}

ion-button{
  --background: none;
  --color: #950341;
  --border-color: #950341;
  width: 80px;
}

button{
  background: #950341;
  padding: 0.3em;
  border-radius: 8px;
}
span{
  font-size: 14px;
}
