<ion-content>
  <main class="principal">
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
    <div class="container-pesquisar">
      <button (click)="voltarPaginaAnterior()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </button>
      <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Pesquisar por nome" class="custom"></ion-searchbar>
    </div>

    <section>
      <h1>Meu histórico</h1>

      
      <div  *ngFor="let agendamento of agendamentos">
        <ion-card class="card-agendamentos">
          <img [src]="getImageUrl(agendamento.tratamento.imagem, 
            agendamento.tratamento.tipoImagem)" [alt]="agendamento.tratamento.nome" height="100px" width="133px"/>
          <ion-card-content>
            <ion-card-subtitle >{{ agendamento.tratamento.nome }}</ion-card-subtitle>
            <p>Senior Surgeon</p>
            <p>📅 {{ agendamento.horario.data | date: 'dd/MM/yyyy' }}</p>
            <p>⏰ {{ agendamento.horario.data | date: 'HH:mm'  }}</p>
            <p>Preço: {{ agendamento.tratamento.valor | currency:'BRL':'symbol':'1.2-2' }}</p>
            <div class="avaliacoes">
              <div *ngFor="let i of [].constructor(agendamento.avaliacao); let index = index">
                <ion-icon name="star" color="warning"></ion-icon>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
        </div>
    </section>
  </main>
</ion-content>
