
<ion-content>
  <div class="container">

    <img srcset="assets/fundo-esq-bellavisage.png 1200w" class="fundo-bellavisage">
    <ion-card class="card">
      <ion-card-header>
        <img src="assets/logo-bellavisage.png" srcset="assets/logo-grande-bellavisage2.png 1200w" alt="logo-bellavisage">
        <ion-title class="titulo">Bem vindo!</ion-title>
        <ion-title class="titulo">Faça o login em sua conta</ion-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
          <ion-list>
            <ion-item>
              <ion-input formControlName="email" label="Email :" type="email" placeholder="email@domain.com"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="campoEstaInvalido('email')">
              <p class="mensagem-erro" *ngIf="pacienteForm.get('email')?.errors">Email é obrigatório.</p>
            </ion-text>

            <ion-item>
              <ion-input formControlName="senha" label="Senha :" type="password"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="campoEstaInvalido('senha')">
              <p class="mensagem-erro" *ngIf="pacienteForm.get('senha')?.errors">Senha é obrigatória.</p>
            </ion-text>
          </ion-list>

          <div class="redirecionamentos">
            <ion-button type="submit" class="botao">Entrar</ion-button>
            <a routerLink="alterar-senha">Esqueceu a senha?</a>
            <ion-text class="texto-criarConta">Não tem uma conta? <a routerLink="novo-usuario-parte1">Faça seu cadastro</a></ion-text>
          </div>
        </form>

      </ion-card-content>
    </ion-card>

    <img srcset="assets/fundo-dir-bellavisage.png 1200w" class="fundo-bellavisage">
  </div>
</ion-content>

