<ion-content>
  <main class="principal">
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
    <div class="container-titulo">
      <button (click)="voltarPaginaAnterior()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </button>
      <h1> Avaliar aplicativo</h1>
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="dark"></ion-icon>
    </div>

    <section>
      <app-emojis (emojiSelecionado)="onEmojiSelecionado($event)"></app-emojis>
    </section>

    <section>
      <h3 class="titulo-feedback">Compartilhe sua experiência</h3>
      <form>
        <div class="container-feedback">
          <textarea></textarea>
          <button type="submit">Enviar</button>
        </div>
      </form>

    </section>


  </main>
</ion-content>
