.emoji-container {
  display: flex;
  justify-content: space-around;
}

.emoji-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens na coluna */
}

.emoji-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.emoji {
  width: 32px; /* Tamanho pequeno como emoji */
  height: 32px;
  border-radius: 50%;
  border: 2px solid #333; /* Cor mais suave para o contorno */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #f0f0f0; /* Cor de fundo neutra */
}

.emoji .eye {
  width: 5px;  /* Ajuste no tamanho dos olhos para ser mais sutil */
  height: 5px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
}

.emoji .eye.left {
  left: 7px;
  top: 10px;
}

.emoji .eye.right {
  right: 7px;
  top: 10px;
}

.mouth {
  width: 16px;
  height: 8px;
  position: absolute;
  bottom: 8px;
}

/* Carinha Feliz */
.happy {
  border-color: #28a745; /* Cor verde suave */
}

.happy .mouth {
  border-bottom: 2px solid #28a745;
  border-radius: 0 0 10px 10px;
  bottom: 4px;
}

/* Carinha Triste */
.sad {
  border-color: #007bff; /* Azul suave */
}

.sad .mouth {
  border-top: 2px solid #007bff;
  border-radius: 10px 10px 0 0;
  bottom: 4px;
}

/* Carinha Neutra */
.neutral {
  border-color: #6c757d; /* Cinza neutro */
}

.neutral .mouth {
  width: 18px;
  height: 2px; /* Altura da linha reta */
  background-color: #6c757d; /* Cor da linha */
  position: absolute;
  bottom: 8px; /* Posição mais próxima dos olhos */
}

/* Carinha Irritada */
.angry {
  border-color: #dc3545; /* Vermelho suave */
}

.angry .eye.left,
.angry .eye.right {
  top: 8px;
}

.angry .mouth {
  width: 20px;
  border-top: 2px solid #dc3545;
  border-radius: 10px 10px 0 0;
  transform: rotate(10deg); /* Boca levemente inclinada */
  bottom: 5px;
}

/* Carinha Sorridente (mais aberta) */
.smiling {
  border-color: #ffc107; /* Amarelo suave */
}

.smiling .mouth {
  width: 24px;
  height: 10px;
  border-bottom: 2px solid #ffc107;
  border-radius: 0 0 15px 15px;
  bottom: 4px;
}

/* Bola de seleção */
.selection {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-top: 8px;
  transition: background-color 0.2s ease;
}

.selected {
  background-color: #950341; /* Cor quando selecionado */
}

.container-texto{
  display: flex;
  justify-content: space-around;
  gap: 1.7em;
  font-size: 14px;
  font-family: 'Public Sans';
  color:  #6B6E71;
}
