<div class="emoji-container">

  <!-- Carinha Irritada -->

    <button class="emoji-button" (click)="selecionarEmoji('raiva')">
      <div class="emoji-wrapper">
        <div class="emoji angry">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <div class="mouth"></div>
        </div>
        <div class="selection" [class.selected]="emojiAtual === 'raiva'"></div>
      </div>
    </button>




  <!-- Carinha Triste -->

    <button class="emoji-button" (click)="selecionarEmoji('triste')">
      <div class="emoji-wrapper">
        <div class="emoji sad">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <div class="mouth"></div>
        </div>
        <div class="selection" [class.selected]="emojiAtual === 'triste'"></div>
      </div>
    </button>




  <!-- Carinha Neutra -->

    <button class="emoji-button" (click)="selecionarEmoji('neutro')">
      <div class="emoji-wrapper">
        <div class="emoji neutral">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <div class="mouth"></div>
        </div>
        <div class="selection" [class.selected]="emojiAtual === 'neutro'"></div>
      </div>
    </button>




   <!-- Carinha Feliz -->

    <button class="emoji-button" (click)="selecionarEmoji('feliz')">
      <div class="emoji-wrapper">
        <div class="emoji happy">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <div class="mouth"></div>
        </div>
        <div class="selection" [class.selected]="emojiAtual === 'feliz'"></div>
      </div>
   </button>




  <!-- Carinha Sorridente -->

    <button class="emoji-button" (click)="selecionarEmoji('sorridente')">
      <div class="emoji-wrapper">
        <div class="emoji smiling">
          <div class="eye left"></div>
          <div class="eye right"></div>
          <div class="mouth"></div>
        </div>
        <div class="selection" [class.selected]="emojiAtual === 'sorridente'"></div>
      </div>
    </button>

</div>
<div class="container-texto">
  <p>Muito insatisfeito</p>
  <p>Muito satisfeito</p>
</div>
