.principal{
  padding: 0 1em;
}

.container-logo{
  width: 40%;
  margin: 1em 0;
}

ion-icon{
  font-size: 22px;
}

button{
  background: #950341;
  padding: 0.3em;
  border-radius: 8px;
}

.container-titulo, .container-botao-titular{
  display: flex;
  justify-content: center;
}

.container-titulo{
  align-items: baseline;
  margin-top: 2em;
  gap:0.3em
}

.container-botao-titular button{
  background-color: #dadada;
  padding: 0.6em;
  border-radius: 16px;
  font-family: 'Public Sans';
}

h1, .icone-user, .card-icone,.card-botao-alterar,
  .icone-endereco,.icone-seta,.icone-senha,.icone-avaliacao,.icone-sair,.texto-deslogar{
  color:#950341;
}

.icone-endereco, .icone-senha, .icone-avaliacao{
  background: #dadada ;
  border-radius: 16px;
  padding: 0.3em;
}

.card{
  margin: 4em 0;
}

.card-subtitulo{
  color:  #6B6E71;
}

.card-conteudo{
  display: flex;
  gap:4px;
  margin-top: 0.5em;
}

.card-conteudo-2{
  justify-content: space-between;
}

.card-conteudo-container{
  gap:4px;
}

.card-conteudo-2,.card-conteudo-container{
  display: flex;
  align-items: center;
}

.card-texto{
  color: #000;
}

.card-botao-alterar{
  --background: none;
  margin-top: 0.8em;
  margin-left: 70%;
}

.card-botao-seta,.card-botao-deslogar{
  --background: none;
}

.card-botao-deslogar{
  width: 100%;
  padding: 0;
  margin: 0;
}

ion-button{
  width: 30%;
}

.card-botoes-form{
  display: flex;
  justify-content: center;
}
