<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">
    <img 
      *ngIf="profileImage; else defaultImage" 
      [src]="profileImage" 
      alt="Foto de Perfil" 
      class="profile-image" 
    />
    <ng-template #defaultImage>
      <div class="profile-image default"></div>
    </ng-template>
    <ion-button (click)="chooseImage()" class="upload-button">Escolher Foto</ion-button>
  </div>
</ion-content>