<ion-content>
  <main class="principal">
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
    <h1>Selecione um tratamento</h1>
    <div class="container-pesquisar">
      <button (click)="voltarPaginaAnterior()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </button>
      <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Pesquisar por nome" class="custom"></ion-searchbar>
    </div>


    <section>
      <ion-card class="card-agendamentos" *ngFor="let tratamento of tratamentosAExibir">
        <img [src]="tratamento.imagemPequena" [alt]="tratamento.nome"/>
        <ion-card-content>
          <ion-card-subtitle >{{ tratamento.nome }}</ion-card-subtitle>
          <p>Senior Surgeon</p>
          <p>Preço: {{ tratamento.preco | currency:'BRL':'symbol':'1.2-2'}}</p>
          <div class="container-icones">
            <span><ion-icon name="star" color="warning"></ion-icon> {{ tratamento.avaliacao }}</span>
            <button (click)="irParaProximaPaginaCadastro(tratamento)">
              <ion-icon slot="icon-only" name="arrow-forward-outline" color="dark"></ion-icon>
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </section>
  </main>
</ion-content>
