

.card{
  padding-top: 30%;
  margin: 0;
  box-shadow: none;
}

.titulo{
  margin-top: 1.5em;
  text-align: center;
}

form{
  margin: 1em 0;
}

.mensagem-erro{
  margin-top: 4px;
  margin-left: 16px;
}

.redirecionamentos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao{
  margin-top: 2em;
}


.texto-criarConta{
  margin-top: 2em;
}

.texto-criarConta a{
  color:#F5066C;
}
