<ion-content>
  <main class="principal">
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
    <div class="container-pesquisar">
      <button (click)="voltarPaginaAnterior()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </button>
      <ion-searchbar placeholder="Pesquisar" class="custom"></ion-searchbar>
    </div>

    <section>
      <h1>Meus agendamentos</h1>

      <div  *ngFor="let agendamento of agendamentos">
        <ion-card class="card-agendamentos">
          <img [src]="agendamento.imagemTratamento" [alt]="agendamento.nomeTratamento"/>
          <ion-card-content>
            <ion-card-subtitle >{{ agendamento.nomeTratamento }}</ion-card-subtitle>
            <p>Senior Surgeon</p>
            <p>📅 {{ agendamento.dataHorario | date: 'dd/MM/yyyy' }}</p>
            <p>⏰ {{ agendamento.dataHorario | date: 'HH:mm'  }}</p>
            <p>Preço: {{ agendamento.preco | currency:'BRL':'symbol':'1.2-2' }}</p>
            <ion-icon name="star" color="warning"></ion-icon> {{ agendamento.avaliacaoTratamento }}
          </ion-card-content>
        </ion-card>
        <div class="container-botoes">
          <ion-button (click)="alertaDecancelarAgendamento(agendamento)" size="small">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <ion-alert
      [isOpen]="isAlertOpen"
      class="custom-alert"
      header="Cancelar o agendamento?"
      [buttons]="alertButtons"
      (didDismiss)="setResult($event)">
      </ion-alert>


    </section>
  </main>
</ion-content>
