<ion-content>
  <main class="principal">
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
    <div class="container-titulo">
      <button (click)="voltarPaginaAnterior()">
        <ion-icon slot="icon-only" name="arrow-back-outline" color="dark"></ion-icon>
      </button>
      <h1>Meus agendamentos</h1>
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="dark"></ion-icon>
    </div>


    <section>

      <div  *ngFor="let agendamento of agendamentos">
        <ion-card class="card-agendamentos">
          <img [src]="getImageUrl(agendamento.tratamento.imagem,
            agendamento.tratamento.tipoImagem)" [alt]="agendamento.tratamento.nome" height="100px" width="133px"/>
          <ion-card-content>
            <ion-card-subtitle >{{ agendamento.tratamento.nome }}</ion-card-subtitle>
            <p>Senior Surgeon</p>
            <p>📅 {{ agendamento.horario.data | date: 'dd/MM/yyyy' }}</p>
            <p>⏰ {{ agendamento.horario.data | date: 'HH:mm'  }}</p>
            <p>Preço: {{ agendamento.tratamento.valor | currency:'BRL':'symbol':'1.2-2' }}</p>
          </ion-card-content>
        </ion-card>

        <div class="container-botoes">
          <ion-button (click)="alertaDeConfirmarOuCancelarAgendamento(agendamento, true)" size="small">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="alertaDeConfirmarOuCancelarAgendamento(agendamento, false)" size="small">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </div>


    </section>
  </main>
</ion-content>
