/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


ion-title {
  color:  #6B6E71;
  font-weight: bold;
  font-family: 'Public Sans';
  font-size: 22px;
}


h1,h2,h3 {
  color:  #1E1F2E;
  font-weight: bold;
  font-family: 'Public Sans';
  font-size: 22px;
}

ion-button {
  --background: #950341;
  --color: #FFFFFF;
  font-family: 'Public Sans';
  font-weight: bold;
  text-transform: none;
  --padding-start: 1em;
  --padding-end: 1em;
  --padding-top: 0.4em;
  --padding-bottom: 0.4em;
}

ion-card-title, ion-card-subtitle{
  font-weight: bold;
  color:  #1E1F2E;
  font-family: 'Public Sans';
}

p{
  font-family: 'Public Sans';
}

ion-searchbar.custom {
  --background: #FAFAFA;
  --color: #fff;
  --placeholder-color: #000;
  --icon-color: #000;
  --border-radius: 8px;
}

.label-text{
  color: #950341;
  font-family: 'Public Sans';
  font-weight: bold;
}

a{
  font-family: 'Public Sans';
  text-decoration: none;
  color: #950341;

}

ion-label,ion-icon{
  color: #fff;
  font-family: 'Public Sans';
}

ion-tab-bar{
  --background: #810339;
}

.custom-alert {
  --border-radius: 10px; /* Aumentar a borda, se desejado */
  --backdrop-opacity: 0.7;

  /* Aumentando o tamanho do texto */
  .alert-message {
    font-size: 16px; /* Tamanho da fonte */
    line-height: 1; /* Espaçamento entre linhas */
    font-family: 'Public Sans';
    text-align: center;
  }

  .alert-title {
    font-size: 22px; /* Tamanho da fonte do cabeçalho */
    font-weight: bold; /* Negrito no cabeçalho */
    font-family: 'Public Sans';
    text-align: center;
  }

  .alert-button{
    font-size: 20px;
  }

  .alert-button-group{
    justify-content: center;

  }

}

button.alert-button.alert-button-confirm {
  background-color:  #810339;
  color:#FFF;
  border-radius: 4px;
}

@media(min-width:1200px) {

  .custom-alert {
    --min-width: 300px; /* Largura mínima do alerta */
    --max-width: 600px; /* Largura máxima do alerta */
    --border-radius: 10px; /* Aumentar a borda, se desejado */
    padding: 20px; /* Aumentar o espaçamento interno */
    --backdrop-opacity: 0.7;

    /* Para aumentar a altura do alerta, se necessário */
    .alert-wrapper {
      min-height: 200px; /* Altura mínima */
    }

    /* Aumentando o tamanho do texto */
    .alert-message {
      font-size: 28px; /* Tamanho da fonte */
      line-height: 2.5; /* Espaçamento entre linhas */
      font-family: 'Public Sans';
      text-align: center;
    }

    .alert-title {
      font-size: 32px; /* Tamanho da fonte do cabeçalho */
      font-weight: bold; /* Negrito no cabeçalho */
      font-family: 'Public Sans';
      text-align: center;
    }

    .alert-button{
      font-size: 28px;
    }

    .alert-button-group{
      justify-content: center;

    }

  }

  ion-input{
    margin-bottom: 0.5em;
  }
}
