<ion-content>
  <main class="principal">
    <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
    <h1><span class="titulo">Olá</span> José !</h1>
    <ion-searchbar placeholder="Pesquisar" class="custom"></ion-searchbar>

    <section>
      <h2>Serviços</h2>
      <div class="container-servicos">

        <ion-button expand="block" href="novo-agendamento-parte1">
          <div class="botao-servico">
            <ion-icon name="git-network-outline"></ion-icon>
            <p>Agendar consultas</p>
          </div>

        </ion-button>

        <ion-button expand="block">
          <div class="botao-servico">
            <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
            <p>Meus agendamentos</p>
          </div>
        </ion-button>

        <ion-button expand="block">
          <div  class="botao-servico" >
            <ion-icon name="heart-outline"></ion-icon>
            <p>Ver tratamentos</p>
          </div>
        </ion-button>

      </div>
    </section>

    <section>
      <h2>Próximos agendamentos</h2>

        <ion-card class="card-agendamentos">
          <img src="assets/Peeling-Quimico.jpg" alt="Pilling de Diamante"/>
          <ion-card-content>
            <ion-card-subtitle >Pilling de Diamante</ion-card-subtitle>
            <p>Senior Surgeon</p>
            <p>⏰ 10:30 AM-3:30</p>
            <p>Preço: R$ 200,00</p>
            <ion-icon name="star" color="warning"></ion-icon> 4.9
          </ion-card-content>
        </ion-card>

        <ion-card class="card-agendamentos">
          <img src="assets/Laser-Venus.jpg" alt="Laser de Vênus"/>
          <ion-card-content>
            <ion-card-subtitle>Laser de Vênus</ion-card-subtitle>
            <p>Senior Surgeon</p>
            <p>⏰ 10:30 AM-6:04</p>
            <p>Preço: R$ 1000,00</p>
            <ion-icon name="star" color="warning"></ion-icon> 5.0
          </ion-card-content>
        </ion-card>

        <ion-card class="card-agendamentos">
          <img src="assets/Preenchimento-labial.jpeg" alt="Preenchimento labial"/>
          <ion-card-content>
            <ion-card-subtitle>Preenchimento labial</ion-card-subtitle>
            <p>Senior Surgeon</p>
            <p>⏰ 10:30 AM-12:00</p>
            <p>Preço: R$ 340,00</p>
            <ion-icon name="star" color="warning"></ion-icon> 3.1
          </ion-card-content>
        </ion-card>


    </section>
  </main>
</ion-content>
