<ion-content>
  <main class="principal">
    <div class="container-header">
      <div class="container-logo"><ion-img src="assets/logo-bellavisage.png"></ion-img></div>
      <span><a class="sair" (click)="deslogar()">Sair</a></span>
    </div>
    <h1><span class="titulo">Olá</span> {{ pacienteNome }} !</h1>
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Pesquisar agendamentos" class="custom"></ion-searchbar>

    <section>
      <h2>Serviços</h2>
      <div class="container-servicos">

        <ion-button expand="block" href="tabs/novo-agendamento-parte1">
          <div class="botao-servico">
            <ion-icon name="git-network-outline"></ion-icon>
            <p>Agendar consultas</p>
          </div>

        </ion-button>

        <ion-button expand="block"  href="tabs/tab2">
          <div class="botao-servico">
            <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
            <p>Meus agendamentos</p>
          </div>
        </ion-button>

        <ion-button expand="block" href="tabs/lista-tratamentos">
          <div  class="botao-servico" >
            <ion-icon name="heart-outline"></ion-icon>
            <p>Ver tratamentos</p>
          </div>
        </ion-button>

      </div>
    </section>

    <section>
      <h2>Próximos agendamentos</h2>
      <ion-card class="card-agendamentos" *ngFor="let agendamento of agendamentos" >
        <img [src]="getImageUrl(agendamento.tratamento.imagem, 
        agendamento.tratamento.tipoImagem)" [alt]="agendamento.tratamento.nome" height="100px" width="133px"/>
        <ion-card-content>
          <ion-card-subtitle >{{ agendamento.tratamento.nome }}</ion-card-subtitle>
          <p>Senior Surgeon</p>
          <p>📅 {{ agendamento.horario.data | date: 'dd/MM/yyyy' }}</p>
          <p>⏰ {{ agendamento.horario.data | date: 'HH:mm'  }}</p>
          <p>Preço: {{ agendamento.tratamento.valor | currency:'BRL':'symbol':'1.2-2' }}</p>
          <!--<ion-icon name="star" color="warning"></ion-icon> {{ agendamento.avaliacaoTratamento }}-->
        </ion-card-content>
      </ion-card>
    
    </section>
  </main>
</ion-content>
